<!doctype html>
<html lang="pt-BR">
  <head>
    <meta charset="utf-8"/>
    <title>Lúcia Bolos</title>
    <link rel="assets" >
    <link href="css/style.css" media="all" rel="stylesheet" type="text/css">
  </head>
  <body>
    <%= yield %>
  </body>
</html>
